@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Roboto, monospace;
}

body {
  background-image: url('http://imgur.com/vEssgXL.png');
}

#navigationBar {
    background-color: #222222;
    width: 100%;
    height: 60px;
    position: fixed;
    border-bottom: 5px #9900AA solid;
    top: 0px;
    box-shadow: 0px 1px 7px #444444;
}

#navigationTitle {
    height: 60px;
    color: #9900AA;
    width: 200px;
    padding: 0;
    margin-left: 100px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 5px #9900AA solid;
}

#navigationTitle img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#navigationTitle:hover {
    background-color: #1E1E1E;
    border-bottom: 5px #770088 solid;
}

#navigationTitleImg {
    height: 60px;
    width: 60px;
    float: left;
}

#navigationTitleText {
    text-align: center;
    line-height: 60px;
    font-size: 27px;
    font-weight: bolder;
}

#tabs {
    float: right;
    position: relative;
    height: 30px;
    top: -39px;
    right: 100px;
    text-align: center;
}

.tabs {
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    background-color: #770088;
    color: #222222;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
}

.active, .tabs:hover {
    background-color: #9900AA;
}

.active:hover {
    background-color: #AA00BB;
}

#tab_content {
    margin-top: 65px;
}

.tab_content {
    background: linear-gradient(180deg, white, #AAAAAA);
    text-align: center;
    height: 200%;
    box-shadow: 0px 0px 7px #444444;
}

#welcome {
    background: linear-gradient(135deg, #9900AA, #770088);
    padding: 50px;
    height: 300px;
    color: #222222;
}