@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Roboto, monospace;
}

body {
    background-color: #888888;
}

#navigationBar {
    background-color: #333333;
    width: 100%;
    height: 60px;
    position: fixed;
    border-bottom: 5px #9900AA solid;
    top: 0px;
}

#navigationTitle {
    height: 60px;
    color: #9900AA;
    width: 270px;
    padding: 0;
    margin-left: 30px;
}

#navigationTitle:hover {
    background-color: #2F2F2F;
}

#navigationTitleImg {
    height: 60px;
    width: 60px;
    float: left;
}

#navigationTitleText {
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    font-weight: bolder;
}

#tabs {
    float: right;
    position: relative;
    height: 30px;
    top: -29px;
    text-align: center;
}

.tabs {
    line-height: 30px;
    text-align: center;
    margin-right: 4px;
    padding: 5px;
    background-color: #2F2F2F;
    color: FFFFFF;
    border-radius: 5px 5px 0px 0px;
    text-decoration: none;
}

.selected, .tabs:hover {
    background-color: #9900AA
}

.selected:hover {
    background-color: #880099
}

#tab_content {
    margin: 75px 10px 10px 10px
}

.tab_content {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    height: 200%;
    box-shadow: 0px 0px 7px #444444;
}